<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">

      <a href="/">Home</a> &emsp;
      <a href="/signup">Sign Up</a> &emsp;
      <a href="/login">Log In</a> &emsp;
      <a href="/tweets">Tweets</a> &emsp;
      <a href="/tweets/new">New Tweet</a> &emsp;
      <a href="/logout">Log Out</a>  
      
      <br>
      <hr>
      <br>

      <%= yield %>
    
    </div>

  </body>
</html>
